{% load static %}
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid mt-3 mb-3">
        <div class="d-flex">
            <a href="{% url 'home' %}" class="text-decoration-none">
                <img src="{% static 'img/logo.png' %}" alt="Logo" width="75" height="50"
                 class="d-inline-block align-text-center">
            </a>
            <a class="text-wrap text-light text-decoration-none" href="{% url 'home' %}">
                &nbsp;&nbsp; <span class="fw-bolder">Let Us Dream</span> <br>
                &nbsp;&nbsp; Conference Management Toolkit
            </a>
        </div>
        <form class="d-flex">
            {% if not request.user.is_authenticated %}
                <a class="btn btn-sm btn-outline-light " href="{% url 'ludlogin' %}">
                    <i class="fa-solid fa-right-to-bracket"></i>
                    Login
                </a>
            {% else %}
                <div class="p-2">
                    <a href="{% url 'dashboard' %}" class="text-decoration-none text-light">
                        {{ request.user.username }}
                    </a>
                </div>
                <div class="p-1">
                    <a class="btn btn-sm btn-outline-light" href="{% url 'ludlogout' %}">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        Logout
                    </a>
                </div>
            {% endif %}
        </form>
    </div>
</nav>
