<nav class="navbar navbar-expand-lg custom-navbar">
    <div class="container-fluid">
        <!-- Brand -->
        <a class="navbar-brand d-flex align-items-center" href="{% url 'dashboard' %}">
            <i class="fa-solid fa-house-user me-2"></i> Home
        </a>

        <!-- Toggler for small screens -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navigation links -->
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                {% if request.user.is_authenticated %}
                    <a class="nav-link" href="{% url 'conference_feedback' %}">Post Conference Feedback Survey</a>
                    <a class="nav-link" href="{% url 'reflection_survey' %}">Impact Reflection Survey</a>
                {% endif %}

                {% if request.user.is_superuser %}
                    <a class="nav-link" href="{% url 'admin_conference_create' %}">New Conference</a>
                    <a class="nav-link" href="{% url 'admin_list_active_conference' %}">Active Conferences</a>
                    <a class="nav-link" href="{% url 'admin_list_completed' %}">Completed Conferences</a>
                    <a class="nav-link" href="{% url 'feedback_dashboard' %}">Feedback Dashboard</a>
                    <a class="nav-link" href="{% url 'reflection_dashboard' %}">Reflection Dashboard</a>

                {% elif request.user.is_staff %}
                    <a class="nav-link" href="{% url 'staff_organizing_conference' %}">Organising Conferences</a>
                    <a class="nav-link" href="{% url 'staff_organized_conference' %}">Organised Conferences</a>
                    <a class="nav-link" href="{% url 'registered_conference' %}">Registered Conferences</a>
                    <a class="nav-link" href="{% url 'participated_conference' %}">Participated Conferences</a>

                {% else %}
                    <a class="nav-link" href="{% url 'registered_conference' %}">Registered Conferences</a>
                    <a class="nav-link" href="{% url 'participated_conference' %}">Participated Conferences</a>
                    <a class="nav-link" href="{% url 'feedback_dashboard' %}">Feedback Dashboard</a>
                    <a class="nav-link" href="{% url 'reflection_dashboard' %}">Reflection Dashboard</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
