{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% include 'partials/nav.html' %}

    <div class="row m-auto py-3">
        <div class="col-12 fs-6 fw-bold text-center">
            Active Conferences <br/>
            <hr/>
        </div>
        <div class="">
            <table class="table table-hover">
                <tbody>
                {% for conf in conferences %}
                    <tr>
                        <td class="row p-1">
                            <div class="col-12 mt-3">
                                <small class="mb-3">Conference #{{ forloop.counter }}</small>
                            </div>
                            <div class="col-12">
                                <h5 class="card-title text-wrap">{{ conf.title }}</h5>
                                <a class="btn btn-sm btn-warning float-end"
                                   href="{% url 'admin_manage_conference' conf.pk %}">
                                    <i class="fa-regular fa-circle-check"></i>
                                    Manage
                                </a>
                                <hr/>
                            </div>
                            <div class="col-sm-12 col-md-4 fs-6 mb-3">
                                Location: {{ conf.location }}
                            </div>
                            <div class="col-sm-12 col-md-4 fs-6 mb-3">
                                Venue: {{ conf.venue }}
                            </div>
                            <div class="col-sm-12 col-md-4 fs-6 fst-italic mb-3">
                                From {{ conf.start_date }} to {{ conf.end_date }}
                            </div>
                            <div class="col-12 fs-6 mb-3">
                                <i class="fa-solid fa-user-large"></i> Contact People: <br/>
                                <div class="row mt-2">
                                    <div class="col-sm-12 col-md-4">
                                        <i class="fa-regular fa-envelope"></i> {{ conf.organizer1 }} <br/>
                                        <i class="fa-solid fa-phone"></i> {{ conf.mobile1 }}
                                    </div>
                                    <div class="col-sm-12 col-md-4">
                                        <i class="fa-regular fa-envelope"></i> {{ conf.organizer2 }} <br/>
                                        <i class="fa-solid fa-phone"></i> {{ conf.mobile2 }}
                                    </div>
                                    <div class="col-sm-12 col-md-4">
                                        <i class="fa-regular fa-envelope"></i> {{ conf.organizer3 }} <br/>
                                        <i class="fa-solid fa-phone"></i> {{ conf.mobile3 }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mb-3">
                                <small class="text-body-secondary float-end">
                                    Created {{ conf.created_at|timesince }} ago
                                </small>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


{% endblock content %}