{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container my-5">
  <h2 class="mb-4 text-center">Let Us Dream Community Conference</h2>
  <h4 class="fw-bold text-center">Post-Conference Quick Links</h4>
  <p class="text-center">To be filled after the conference – focuses on feedback, impressions, learning, and experience.
  </p>
  <div class="row mt-5">
    <div class="col-sm-12 col-md-3 mb-4 bg-primary border p-4 text-center">
      <a href="{% url 'conference_feedback' %}" class="text-decoration-none text-white">
        <img src="{% static 'img/feedback.png' %}" alt="Feedback Icon" class="img-fluid mt-3 mb-3 col-3">
        <h5 class="text-white">Feedback Survey</h5>
        <p class="text-white">Share your thoughts and experiences from the conference.</p>
      </a>
    </div>
    <div class="col-sm-12 col-md-3 mb-4 bg-secondary border p-4 text-center">
      <a href="{% url 'reflection_survey' %}" class="text-decoration-none text-white">
        <img src="{% static 'img/reflection.png' %}" alt="Reflection Icon" class="img-fluid mt-3 mb-3 col-3">
        <h5 class="text-white">Reflection Survey</h5>
        <p class="text-white">Reflect on your learning and insights gained during the conference.</p>
      </a>
    </div>
    <!-- <div class="col-sm-12 col-md-3 mb-4 bg-success border p-4 text-center">
      <a href="{% url 'feedback_dashboard' %}" class="text-decoration-none text-white">
        <img src="{% static 'img/feedback_dashboard.png' %}" alt="Feedback Dashboard Icon" class="img-fluid mt-3 mb-3 col-3">
        <h5 class="text-white">Feedback Dashboard</h5>
        <p class="text-white">Access the feedback dashboard to view insights and trends from the feedback collected.</p>
      </a>
    </div>
    <div class="col-sm-12 col-md-3 mb-4 bg-info border p-4 text-center">
      <a href="{% url 'reflection_dashboard' %}" class="text-decoration-none text-white">
        <img src="{% static 'img/reflection_dashboard.png' %}" alt="Reflection Dashboard Icon"
          class="img-fluid mt-3 mb-3 col-3">
        <h5 class="text-white">Reflection Dashboard</h5>
        <p class="text-white">Explore the reflection dashboard to see collective insights and reflections from
          participants.</p>
      </a>
    </div> -->
  </div>
</div>
{% endblock %}