{% extends 'base.html' %}
{% load static %}

{% block title %}Feedback Dashboard{% endblock %}

{% block styles %}
{% endblock styles %}

{% block content %}

<div class="container my-5">
  <h3 class="mb-4">📊 Feedback Survey Dashboard</h3>

  <div class="alert alert-info mb-3">
    Total Submissions: <strong>{{ total_responses }}</strong>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
      <p class="text-center fw-bold">
        Age Distribution of Participants
      </p>
        <div id="age-chart"></div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
      <p class="text-center fw-bold">
        I felt motivated to volunteer or serve my community after attending the conference.
      </p>
        <div id="q1-chart"></div>
    </div>    
    <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
      <p class="text-center fw-bold">
        Profession.
      </p>
        <div id="profession"></div>
    </div>
    
  </div>

</div>

{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="{% static 'scripts/feedback_dashboard.js' %}"></script>
{% endblock scripts %}
