{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="row m-auto py-3">
        <div class="col-12 fs-6 fw-bold text-center mb-3">
            Conference #{{ conference.pk }} <br/>
            <hr/>
        </div>
        <div class="col-12">

            <div class="row">
                <div class="col-4">
                    {% if conference_details.conference_banner %}
                        <img src="{{ conference_details.conference_banner.url }}" class="img-fluid" alt="...">
                    {% endif %}
                </div>
                <div class="col-8">
                    <div class="mb-3 fw-bolder fs-2">
                        {{ conference.title }}
                    </div>
                    <div class="mb-3 fs-3">
                        {% if conference_details.conference_theme %}
                            {{ conference_details.conference_theme }}
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        {% if conference_details.conference_description %}
                            {{ conference_details.conference_description }}
                        {% endif %}
                    </div>
                    <div>
                        {{ conference.location }} | {{ conference.venue }}
                    </div>
                    <div class="mb-3 fst-italic">
                        {{ conference.start_date }} - {{ conference.end_date }}
                    </div>
                    <div class="mb-3">
                        <i class="fa-solid fa-user-large"></i> Contact People: <br/>
                        <div class="row mt-2">
                            <div class="col-sm-12 col-md-4">
                                <i class="fa-regular fa-envelope"></i> {{ conference.organizer1 }} <br/>
                                <i class="fa-solid fa-phone"></i> {{ conference.mobile1 }}
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <i class="fa-regular fa-envelope"></i> {{ conference.organizer2 }} <br/>
                                <i class="fa-solid fa-phone"></i> {{ conference.mobile2 }}
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <i class="fa-regular fa-envelope"></i> {{ conference.organizer3 }} <br/>
                                <i class="fa-solid fa-phone"></i> {{ conference.mobile3 }}
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row m-0">
                            {% if conference_details.social_facebook %}
                                <div class="col">
                                    <a href="{{ conference_details.social_facebook }}" target="_blank"
                                       class="text-decoration-none">
                                        <i class="fa-brands fa-facebook"></i> Facebook
                                    </a>
                                </div>
                            {% endif %}
                            {% if conference_details.social_insta %}
                                <div class="col">
                                    <a href="{{ conference_details.social_insta }}" target="_blank"
                                       class="text-decoration-none">
                                        <i class="fa-brands fa-instagram"></i> Instagram
                                    </a>
                                </div>
                            {% endif %}
                            {% if conference_details.social_linkedin %}
                                <div class="col">
                                    <a href="{{ conference_details.social_linkedin }}" target="_blank"
                                       class="text-decoration-none">
                                        <i class="fa-brands fa-linkedin"></i> LinkedIn
                                    </a>
                                </div>
                            {% endif %}
                            {% if conference_details.social_twitter %}
                                <div class="col">
                                    <a href="{{ conference_details.social_twitter }}" target="_blank"
                                       class="text-decoration-none">
                                        <i class="fa-brands fa-twitter"></i> Twitter
                                    </a>
                                </div>
                            {% endif %}
                            {% if conference_details.social_youtube %}
                                <div class="col">
                                    <a href="{{ conference_details.social_youtube }}" target="_blank"
                                       class="text-decoration-none">
                                        <i class="fa-brands fa-youtube"></i> YouTube
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="mb-3">
                        {% if conference_details.conference_brochure %}
                            <hr/>
                            <a href="{{ conference_details.conference_brochure.url }}" target="_blank"
                               class="text-decoration-none">
                                <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                Conference Brochure
                            </a>
                            <hr/>
                        {% endif %}
                    </div>
                    <div>
                        <small>
                            {{ conference.created_at|timesince }}
                        </small>
                    </div>
                </div>
            </div>

            <div class="col-12 d-flex justify-content-around mt-4">
                <a class="btn btn-success text-decoration-none"
                   href="{% url 'participate_conference' conference.conference_id %}">
                   <i class="fa-solid fa-floppy-disk"></i>
                    Create an account & save your conference participation history
                </a>
                <a class="btn btn-warning text-decoration-none"
                   href="{% url 'one_time_registration' conference.conference_id %}">
                   <i class="fa-solid fa-stopwatch"></i>
                    One time participation
                </a>
            </div>
        </div>
    </div>

{% endblock content %}