{% extends 'base.html' %}
{% block content %}

    <div class="my-5 border p-3">
        <form method="POST" class="row" onsubmit="return validateForm();">
            {% csrf_token %}
            <div class="col-12 text-center mb-4 fs-5 mt-4">
                <i class="fa-solid fa-right-to-bracket fs-1 fw-bolder"></i>
                <br/>
                Register to LUD-CMT
                <hr/>
            </div>
            <div class="col-sm-12 col-md-6 mb-3">
                <div class="form-floating">
                    <input type="email" class="form-control" id="email" name="email" value="{{ email }}" disabled
                           required>
                    <label for="email">Email address</label>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 mb-3">
                <div class="form-floating">
                    <input type="text" class="form-control" id="firstname" name="firstname" placeholder="First Name"
                           required>
                    <label for="firstname">First Name</label>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 mb-3">
                <div class="form-floating">
                    <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last Name"
                           required>
                    <label for="lastname">Last Name</label>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 mb-3">
                <div class="form-floating">
                    <select class="form-select" id="gender" name="gender" aria-label="Gender" required>
                        <option value="" selected>--select--</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Others">Others</option>
                    </select>
                    <label for="gender">Gender</label>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 mb-3">
                <div class="form-floating">
                    <input type="date" class="form-control" id="dob" name="dob" placeholder="Date of Birth" required>
                    <label for="dob">Date of Birth</label>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 mb-3">
                <div class="form-floating">
                    <input type="text" class="form-control" id="designation" name="designation"
                           placeholder="Designation"
                           required>
                    <label for="designation">Designation</label>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 mb-3">
                <div class="form-floating">
                    <input type="text" class="form-control" id="organization" name="organization"
                           placeholder="Organization"
                           required>
                    <label for="organization">Organization</label>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 mb-3">
                <div class="form-floating">
                    <input type="text" class="form-control" id="mobile" name="mobile" placeholder="WhatsApp Number"
                           required>
                    <label for="mobile">WhatsApp / Phone Number</label>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 mb-3">
                <div class="form-floating">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password"
                           required>
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 mb-3">
                <div class="form-floating ">
                    <input type="password" class="form-control" id="confirm_password" name="confirm_password"
                           placeholder="Password"
                           required>
                    <label for="confirm_password">Confirm Password</label>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-center mb-3">
                <div class="form-check">
                    <small>
                        <input class="form-check-input" type="checkbox" id="opt_newsletter" name="opt_newsletter" checked>
                        <label class="form-check-label" for="opt_newsletter">
                            Subscribe to Let Us Dream Newsletter.
                        </label>
                    </small>
                </div>
            </div>
            <div class="col-sm-12 mb-3">
                <div class="d-flex justify-content-center">
                    <button class="btn btn btn-secondary" type="submit">
                        <i class="fa-regular fa-floppy-disk"></i>
                        Create Account
                    </button>
                </div>
            </div>
        </form>

    </div>

    <script>
        function validateForm() {

            const selectedGender = document.getElementById("gender").value;
            if (selectedGender === "") {
                alert("Please select your gender.");
                return false;
            }

            const password = document.getElementById("password").value;
            const confirm_password = document.getElementById("confirm_password").value;
            if (password !== confirm_password) {
                alert("Password doesn't match.")
                return false;
            }

            return true; // Validation passed
        }
    </script>

{% endblock content %}