{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% include 'partials/nav.html' %}

    <div class="row m-auto py-3">
        <div class="col-12 fs-6 fw-bold text-center">
            <div class="fw-bolder fs-2">
                {{ conference.title }}
            </div>
            <small class="fw-normal fs-6">
                #{{ conference.conference_id }}
            </small>
            <hr/>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="mb-2">
                {% if conferenceDetails.conference_banner %}
                    <img src="{{ conferenceDetails.conference_banner.url }}" class="img-fluid" alt="...">
                {% else %}
                    <img src="{% static 'img/conference.png' %}" class="img-fluid " alt="...">
                {% endif %}
            </div>
            {% if conferenceDetails.conference_theme %}
                <div class="mb-2 fw-bold">
                    {{ conferenceDetails.conference_theme }}
                </div>
            {% endif %}
            {% if conferenceDetails.conference_description %}
                <div class="mb-2">
                    {{ conferenceDetails.conference_description }}
                </div>
            {% endif %}
            {% if conferenceDetails.conference_brochure %}
                <div class="mb-3">
                    <a class="btn btn-sm btn-success" href="{{ conferenceDetails.conference_brochure.url }}"
                       target="_blank">
                        <i class="fa-solid fa-download"></i>
                        Download Brochure
                    </a>
                    <a class="btn btn-sm btn-success" href="{{ conferenceDetails.conference_banner.url }}"
                       target="_blank">
                        <i class="fa-solid fa-download"></i>
                        Download Banner
                    </a>
                </div>
            {% endif %}
            <div class="fst-italic mb-3">
                {{ conference.location }} | {{ conference.venue }}; From {{ conference.start_date }} to {{ conference.end_date }}
            </div>
            <div class="mb-2">
                <i class="fa-solid fa-user-large"></i> Contact People: <br/>
                <div class="row mt-2">
                    <div class="col-sm-12">
                        <i class="fa-regular fa-envelope"></i> {{ conference.organizer1 }} <br/>
                        <i class="fa-solid fa-phone"></i> {{ conference.mobile1 }}
                    </div>
                    <div class="col-sm-12">
                        <i class="fa-regular fa-envelope"></i> {{ conference.organizer2 }} <br/>
                        <i class="fa-solid fa-phone"></i> {{ conference.mobile2 }}
                    </div>
                    <div class="col-sm-12">
                        <i class="fa-regular fa-envelope"></i> {{ conference.organizer3 }} <br/>
                        <i class="fa-solid fa-phone"></i> {{ conference.mobile3 }}
                    </div>
                </div>
            </div>
            <hr/>
            {% if conferenceDetails.conference_feedback_link %}
                <div class="mb-2">
                    Feedback Link:
                    <a href="{{ conferenceDetails.conference_feedback_link }}" target="_blank">
                        {{ conferenceDetails.conference_feedback_link }}
                    </a>
                </div>
            {% endif %}
            <hr/>
            <div class="row m-0">
                {% if conferenceDetails.social_facebook %}
                    <div class="col">
                        <a href="{{ conferenceDetails.social_facebook }}" target="_blank"
                           class="text-decoration-none">
                            <i class="fa-brands fa-facebook"></i> Facebook
                        </a>
                    </div>
                {% endif %}
                {% if conferenceDetails.social_insta %}
                    <div class="col">
                        <a href="{{ conferenceDetails.social_insta }}" target="_blank"
                           class="text-decoration-none">
                            <i class="fa-brands fa-instagram"></i> Instagram
                        </a>
                    </div>
                {% endif %}
                {% if conferenceDetails.social_linkedin %}
                    <div class="col">
                        <a href="{{ conferenceDetails.social_linkedin }}" target="_blank"
                           class="text-decoration-none">
                            <i class="fa-brands fa-linkedin"></i> LinkedIn
                        </a>
                    </div>
                {% endif %}
                {% if conferenceDetails.social_twitter %}
                    <div class="col">
                        <a href="{{ conferenceDetails.social_twitter }}" target="_blank"
                           class="text-decoration-none">
                            <i class="fa-brands fa-twitter"></i> Twitter
                        </a>
                    </div>
                {% endif %}
                {% if conferenceDetails.social_youtube %}
                    <div class="col">
                        <a href="{{ conferenceDetails.social_youtube }}" target="_blank"
                           class="text-decoration-none">
                            <i class="fa-brands fa-youtube"></i> YouTube
                        </a>
                    </div>
                {% endif %}
            </div>
            <hr/>
            <div class="mb-2">
                <small>
                    Conference live from {{ conference.created_at|timesince }}<br/>
                    Conference added by {{ conference.created_by }}
                </small>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="text-center p-2 mb-3 fw-bold">
                Add/Update the conference details
            </div>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <label class="input-group-text" for="confbanner">Upload Poster</label>
                    <input type="file" class="form-control" id="confbanner" name="confbanner" accept="image/png">
                    <small class="mt-2 p-1">
                        The poster dimensions are <a
                            href="https://www.canva.com/design/DAGKso6XyGg/zDs8XhvbUNOdpQZ8MHRBNQ/edit?utm_content=DAGKso6XyGg&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton"
                            target="_blank"> 1080*1080 </a>.
                        Create a copy of the sample link and create your conference poster.
                    </small>
                </div>
            <div class="input-group mb-3">
                    <label class="input-group-text" for="confbrochure">Upload Brochure</label>
                    <input type="file" class="form-control" id="confbrochure" name="confbrochure"
                           accept="application/pdf">
                </div>
                <div class="form-floating mb-2">
                    <textarea class="form-control" placeholder="Feedback Link" id="social_facebook"
                              name="social_facebook">{% if conferenceDetails %}{{ conferenceDetails.social_facebook }}{% endif %}</textarea>
                    <label for="social_facebook">Facebook Link</label>
                </div>
                <div class="form-floating mb-2">
                    <textarea class="form-control" placeholder="Feedback Link" id="social_insta"
                              name="social_insta">{% if conferenceDetails %}{{ conferenceDetails.social_insta }}{% endif %}</textarea>
                    <label for="social_insta">Instagram Link</label>
                </div>
                <div class="form-floating mb-2">
                    <textarea class="form-control" placeholder="Feedback Link" id="social_linkedin"
                              name="social_linkedin">{% if conferenceDetails %}{{ conferenceDetails.social_linkedin }}{% endif %}</textarea>
                    <label for="social_linkedin">LinkedIn Link</label>
                </div>
                <div class="form-floating mb-2">
                    <textarea class="form-control" placeholder="Feedback Link" id="social_twitter"
                              name="social_twitter">{% if conferenceDetails %}{{ conferenceDetails.social_twitter }}{% endif %}</textarea>
                    <label for="social_twitter">Twitter Link</label>
                </div>
                <div class="form-floating mb-2">
                    <textarea class="form-control" placeholder="Feedback Link" id="social_youtube"
                              name="social_youtube">{% if conferenceDetails %}{{ conferenceDetails.social_youtube }}{% endif %}</textarea>
                    <label for="social_youtube">YouTube Link</label>
                </div>
                <div class="form-floating mb-3">
                    <textarea class="form-control" placeholder="Conference Theme" id="conftheme" name="conftheme"
                              style="height: 100px" required>{% if conferenceDetails %} {{ conferenceDetails.conference_theme }}{% endif %}</textarea>
                    <label for="conftheme">Theme</label>
                </div>
                <div class="form-floating mb-3">
                    <textarea class="form-control" placeholder="Conference Description" id="confdesc" name="confdesc"
                              style="height: 150px" required>{% if conferenceDetails %}{{ conferenceDetails.conference_description }}{% endif %}</textarea>
                    <label for="confdesc">Description</label>
                </div>
                <div class="form-floating mb-2">
                    <textarea class="form-control" placeholder="Feedback Link"
                              id="conffeedback" name="conffeedback" required>{% if conferenceDetails %}{{ conferenceDetails.conference_feedback_link }}{% endif %}</textarea>
                    <label for="conffeedback">Feedback Link</label>
                </div>
                <small class="">
                    Feedback link is expected to be a Google Form that is attached with automatic certificate
                    dispatch.
                    The conference feedback link will be enabled once the conference has been over and the admin
                    makes the conference as in-active and move to the past conferences.
                </small>
                <div class="d-flex justify-content-center mt-4">
                    <button class="btn btn-success" type="submit">
                        Save Details
                    </button>
                </div>
            </form>
        </div>
    </div>

{% endblock content %}