{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% include 'partials/nav.html' %}

    <div class="row m-auto py-3">
        <div class="col-12 fs-6 fw-bold text-center">
            Organising Conferences <br/>
            <hr/>
        </div>
        <div class="">
            <table class="table table-hover">
                <tbody>
                {% for conf in conferences %}
                    <tr>
                        <td class="row p-1">
                            <div class="col-12 mt-3">
                                <small class="mb-3">Conference #{{ forloop.counter }}</small>
                            </div>
                            <div class="col-12">
                                <h5 class="card-title text-wrap">{{ conf.title }}</h5>
                                <a class="btn btn-sm btn-warning float-end" href="{% url 'staff_update_conference' conf.pk %}">
                                    <i class="fa-regular fa-circle-check"></i>
                                    Update
                                </a>
                                 <div class="float-end p-2"></div>
                                <a class="btn btn-sm btn-warning float-end" href="{% url 'download_registration_details' conf.pk %}">
                                    <i class="fa-regular fa-circle-check"></i>
                                    Download Registration
                                </a>
                                <hr/>
                            </div>
                            <div class="col-sm-12 col-md-6 fs-6 mb-3">
                                Location: {{ conf.location }}
                            </div>
                            <div class="col-sm-12 col-md-6 fs-6 mb-3">
                                Venue: {{ conf.venue }}
                            </div>
                            <div class="col-12 fs-6 fst-italic mb-3">
                                From {{ conf.start_date }} to {{ conf.end_date }}
                            </div>
                            <div class="col-12 fs-6 mb-3">
                                Contact People: <br/>
                                <i class="fa-regular fa-envelope"></i> {{ conf.organizer1 }} &nbsp;&nbsp;&nbsp;&nbsp;
                                <i class="fa-regular fa-envelope"></i> {{ conf.organizer2 }} &nbsp;&nbsp;&nbsp;&nbsp;
                                <i class="fa-regular fa-envelope"></i> {{ conf.organizer3 }}
                            </div>
                            <div class="col-12 mb-3">
                                <small class="text-body-secondary float-end">
                                    Created {{ conf.created_at|timesince }} ago
                                </small>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock content %}